footer{
    /* background-color: var(--dark-grey); */
    background-color: var(--dark-blue);
    color: var(--light-grey);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;  
    height: 5vh;
}