#hero {
    display: flex;
    height: 94vh;
    background-image: url("../../assets/bg1.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    align-items: center;
}

#hero-text{
    position: relative;
    z-index: 1;
    background-color: #00000000;
    /* background-image: conic-gradient(#2A67AF, #003C70, #7F0225); */
}

#hero-card {
    position: relative;
    right: -5%;
    background-color: #00000000;
}
@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

#hero-card::before,
#hero-card::after {
    content: "";
    position: absolute;
    inset: -.5rem;
    background: conic-gradient(
        from var(--gradient-angle),
        #2A67AFCC, 
        #7F0225CC,
        #003C70CC, 
        #F26100CC
    );
    filter: blur(3.5rem);
    animation: rotation 60s linear infinite;
}

#contact {
    margin-top: 2rem;
    border-radius: .2rem;
    border: none;
    padding: .5rem;
    background-color: #AC0000;
    width: 8rem;
    font-size: 1rem;
    box-shadow: 3px 3px 5px #000000;
    cursor: pointer;
}