header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 6vh; 
}

header ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.logo{
    font-size: 1.2rem;
}

.links a{
    color: var(--light-grey);
    text-decoration: none;
}

.socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons{
    width: 1.5rem;
    cursor: pointer;
    fill: var(--light-grey)
}

.icons:hover{
    opacity: 50%;
}