header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;  
    height: 10vh;
    background-color: var(--dark-grey);
}

header ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 10em;
}

.logo{
    padding-left: 10em ;
}

.links a{
    color: var(--dark-orange);
    text-decoration: none;
}

.links a:hover{
    text-decoration: none;
}