:root {
    /* --dark-grey: #141414; */
    --dark-grey: #0C0C0C;
    --dark-orange: #ff652f;
    --light-grey: #9c9c9c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--light-grey);
}

h3 {
    color: var(--light-grey);
    font-size: 1.2rem;
}
