header{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;  
    height: 6vh;

    margin-bottom: 5rem;
}

header ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 10rem;
}

.logo{
    font-size: 1.8rem;
    padding-left: 10rem ;
}

.links a{
    color: var(--light-blue);
    text-decoration: none;
}

.links a:hover{
    text-decoration: none;
}